fastapi>=0.115.0
fastapi-utils>=0.7.0
starlette>=0.40.0
uvicorn[standard]>=0.30.0
python-multipart>=0.0.18
azure-storage-blob
azure-servicebus
pymongo>=4.7.3
azure-identity>=1.16.1
httpx>=0.24.1
typing-inspect
azure-keyvault-secrets 
fastapi_azure_auth
pydantic_settings
python-dotenv
apscheduler>=3.10.4
# security Fix
h11>=0.16.0
requests>=2.32.4
zipp>=3.19.1
anyio>=4.4.0
dnspython>=2.6.1
urllib3>=2.2.2